<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>
    <%- article.title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://parksb.github.io/article/<%- article.id %>.html" />

  <meta property="og:title" content="<%- article.title %><% if (article.subtitle) { %>: <%- article.subtitle %> <% } %>">
  <meta property="og:image" content="https://og-image-parksb.vercel.app/<%- article.encodedTitle %>.png?subtitle=<%- article.encodedSubtitle %>&date=<%- article.date %>&theme=light&md=1&fontSize=95px">
  <meta property="og:description" content="<%- article.summary %>">

  <meta name="twitter:title" content="<%- article.title %><% if (article.subtitle) { %>: <%- article.subtitle %> <% } %>">
  <meta name="twitter:image" content="https://og-image-parksb.vercel.app/<%- article.encodedTitle %>.png?subtitle=<%- article.encodedSubtitle %>&date=<%- article.date %>&theme=light&md=1&fontSize=95px">
  <meta name="twitter:description" content="<%- article.summary %>">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preload" href="../../src/scss/init.scss" as="style">
  <link rel="preload" href="../../src/scss/article.scss" as="style">

  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../src/scss/init.scss">
  <link rel="stylesheet" href="../../src/scss/article.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <article id="article-container">
      <h1 id="article-title">
        <%- article.title %>
      </h1>
      <% if (article.subtitle) { %>
        <h2 id="article-subtitle">
          <%- article.subtitle %>
        </h2>
      <% } %>
      <time id="article-date">
        <%- article.date %>
      </time>
      <small id="article-history">
        <a href="https://github.com/parksb/parksb.github.io/commits/development/_articles/<%- article.filename %>">
          (history)
        </a>
      </small>

      <section id="article-content-container">
        <%- article.content %>
      </section>

      <section id="article-navigation">
        <% if (nextArticle) { %>
          <div class="article-navigation-item article-navigation-next">
            <a href="/article/<%- nextArticle.id %>.html">
              <div class="article-navigation-arrow article-navigation-next">＜</div>
              <div class="article-navigation-content article-navigation-next">
                <p class="article-navigation-title"><%- nextArticle.title %></p>
                <p class="article-navigation-subtitle"><%- nextArticle.subtitle %></p>
              </div>
            </a>
          </div>
        <% } %>
        <% if (prevArticle) { %>
          <div class="article-navigation-item article-navigation-prev">
            <a href="/article/<%- prevArticle.id %>.html">
              <div class="article-navigation-arrow article-navigation-prev">＞</div>
              <div class="article-navigation-content article-navigation-prev">
                <p class="article-navigation-title"><%- prevArticle.title %></p>
                <p class="article-navigation-subtitle"><%- prevArticle.subtitle %></p>
              </div>
            </a>
          </div>
        <% } %>
      </section>

      <section id="article-social-container">
        <div id="fb-like" class="fb-like" data-href="https://parksb.github.io/article/<%- article.id %>.html"
          data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="true"></a>
      </section>

      <section id="article-comments">
        <script async src="https://utteranc.es/client.js" repo="ParkSB/parksb.github.io-comments" issue-term="pathname" theme="github-light"
          crossorigin="anonymous">
          </script>
      </section>

      <section id="article-list-button-container">
        <a href="/articles.html">
          <div id="article-list-button">📚</div>
        </a>
      </section>
    </article>
  </main>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <script defer src="../../src/ts/init.ts"></script>
  <script defer src="../../src/ts/article.ts"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-113147800-1');
  </script>
</body>
