<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>Simon Park</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://parksb.github.io/" />

  <meta property="og:title" content="Simon Park">
  <meta property="og:image" content="https://user-images.githubusercontent.com/6410412/123942654-522f6a80-d9d6-11eb-82c5-02da0c05ebd3.png">
  <meta property="og:description" content="박성범 (Simon Park)">

  <meta name="twitter:title" content="Simon Park">
  <meta name="twitter:description" content="박성범 (Simon Park)">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/6410412/123942654-522f6a80-d9d6-11eb-82c5-02da0c05ebd3.png">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/index.scss" as="style">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/articles.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="articles-container">
      <ul>
        <% articles.reverse().map((article) => { %>
          <li class="articles-list-item">
            <a href="./article/<%= article.id %>.html">
              <h2><%= article.title %></h2>
              <% if (article.subtitle) { %>
                <h3><%= article.subtitle %></h3>
              <% } %>
              <time><%= article.date %></time>
              <ul class="articles-tags">
                <% article.tags.map((tag) => { %>
                  <li>#<%= tag.trim() %></li>
                <% }) %>
              </ul>
            </a>
          </li>
        <% }) %>
      </ul>
      <h2><a href="./articles.html">↘ ↘ ↘</a></h2>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113147800-1');
  </script>
</body>

</html>
