<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>박성범 Simon Park</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#F5F5F5">
    <meta name="description" content="Works">
    <link rel="canonical" href="https://parksb.github.io/works.html" />

    <meta property="og:title" content="Simon Park">
    <meta property="og:image" content="https://og-image-parksb.vercel.app/api/parksb-github-io?title=%EB%B0%95%EC%84%B1%EB%B2%94%20Simon%20Park&subtitle=%E2%80%95%20Works">
    <meta property="og:description" content="Works">

    <meta name="twitter:title" content="Simon Park">
    <meta name="twitter:image" content="https://og-image-parksb.vercel.app/api/parksb-github-io?title=%EB%B0%95%EC%84%B1%EB%B2%94%20Simon%20Park&subtitle=%E2%80%95%20Works">
    <meta name="twitter:description" content="Works">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link rel="preload" href="./styles/works.css" as="style">
    <link rel="stylesheet" href="./styles/works.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LKTJ5YFJR2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LKTJ5YFJR2');
    </script>
  </head>
  <body>
    <%- include(process.cwd() + '/app/templates/navigation'); %>
    <main id="main-container">
      <ul>
        <li><a href="/">About <span class="symbol">↘</span></a></li>
        <li class="selected">Works</li>
        <ul id="works-container" class="selected-container">
          <% works.reverse().map((work) => { %>
          <li>
            <a href="./work/<%= work.id %>.html">
              <span class="heading"><%= work.title %><% if (work.subtitle) { %>:<% } %></span>
              <% if (work.subtitle) { %><span class="subheading"><%= work.subtitle %></span><% } %>
              <img class="thumbnail" src="<%= work.thumbnail %>" />
            </a>
          </li>
          <% }) %>
        </ul>
        <li><a href="articles.html">Articles <span class="symbol">↘</span></a></li>
      </ul>
    </main>
    <%- include(process.cwd() + '/app/templates/footer'); %>
  </body>
</html>
