<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>
    <%- title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://parksb.github.io/work/<%- id %>.html" />

  <meta property="og:title" content="<%- title %>">
  <meta property="og:image" content="<%- thumbnail %>">
  <meta property="og:description" content="<%- subtitle %>">

  <meta name="twitter:title" content="<%- title %>">
  <meta name="twitter:image" content="<%- thumbnail %>">
  <meta name="twitter:description" content="<%- subtitle %>">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preload" href="../../src/scss/init.scss" as="style">
  <link rel="preload" href="../../src/scss/work.scss" as="style">

  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../src/scss/init.scss">
  <link rel="stylesheet" href="../../src/scss/work.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <article id="work-container">
      <h1 id="work-title">
        <%- title %>
      </h1>
      <h2 id="work-subtitle">
        <%- subtitle %>
      </h2>

      <article id="work-content-container">
        <%- content %>
      </section>
    </article>
  </main>

  <script defer src="../../src/ts/init.ts"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-113147800-1');
  </script>
</body>
